<script id="layoutTemplate" type="text/x-jquery-tmpl">

    <div class="container_12 gitana-webhost-selector">

        <div class="grid_12">
            <div class="block-border">

                <!--
                <div class="list-toolbar-content" gadget="toolbar">
                </div>
                -->

                {{if webhostselector && webhostselector.filter}}
                <div class="list-filter" gadget="filter">
                </div>
                {{/if}}
                {{if webhostselector.subscription}}<div class="list-toolbar" gadget="toolbar" subscription="${webhostselector.subscription}-toolbar"></div>{{/if}}
                <div class="block-content list-datatable">
                    <div class="list" gadget="list" {{if webhostselector.subscription}}subscription="${webhostselector.subscription}"{{/if}} {{if webhostselector.filter}}filter="${webhostselector.filter}"{{/if}}>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear height-fix"></div>

    </div>

</script>