<script id="layoutTemplate" type="text/x-jquery-tmpl">

    <div class="container_12 gitana-stack-selector">

        <div class="grid_12">
            <div class="block-border">

                <!--
                <div class="list-toolbar-content" gadget="toolbar">
                </div>
                -->

                {{if stackselector && stackselector.filter}}
                <div class="list-filter" gadget="filter">
                </div>
                {{/if}}
                {{if stackselector.subscription}}<div class="list-toolbar" gadget="toolbar" subscription="${stackselector.subscription}-toolbar"></div>{{/if}}
                <div class="block-content list-datatable">
                    <div class="list" gadget="list" {{if stackselector.subscription}}subscription="${stackselector.subscription}"{{/if}} {{if stackselector.filter}}filter="${stackselector.filter}"{{/if}}>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear height-fix"></div>

    </div>

</script>