<script id="layoutTemplate" type="text/x-jquery-tmpl">

    <div class="container_12 gitana-node-selector">

        <div class="grid_12">
            <div class="block-border">

                <!--
                <div class="list-toolbar-content" gadget="toolbar">
                </div>
                -->

                {{if nodeselector && nodeselector.filter}}
                <div class="list-filter" gadget="filter">
                </div>
                {{/if}}
                {{if nodeselector.subscription}}<div class="list-toolbar" gadget="toolbar" subscription="${nodeselector.subscription}-toolbar"></div>{{/if}}
                <div class="block-content list-datatable">
                    <div class="list" gadget="list" {{if nodeselector.subscription}}subscription="${nodeselector.subscription}"{{/if}} {{if nodeselector.filter}}filter="${nodeselector.filter}"{{/if}}>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear height-fix"></div>

    </div>

</script>