<script id="headerTemplate" type="text/x-jquery-tmpl" xmlns="http://www.w3.org/1999/html">
    <header id="header">
    <!--[if IE]>
    <div id="header">
    <![endif]-->

        <!-- Platform Logo -->
        <div id="platform-logo-holder" align="center">
            <span>
                <a href="#/dashboard">
                    <img class="platform-logo" id="platform-logo" data-src="${platformLogoUrl}" alt="${platformTitleText}" src="${platformLogoUrl}"/>
                </a>
            </span>
            <span>
                <a href="#/dashboard">
                    ${platformTitleText}
                </a>
            </span>
        </div>
        <!-- End of Platform Logo -->

        <!-- Any tenant notifications get posted here -->
        <div id="tenant-notification">{{if tenantNotificationMessage}}${tenantNotificationMessage}{{/if}}</div>

        <!-- User Info -->
        <div id="user-info">
            <ul class="toolbox-header">
                <li>
                    <a rel="tooltip-html" title="Recent History" class="toolbox-action" href="javascript:void(0);"><span
                            class="recent-history-icon"></span></a>
                    <a rel="tooltip-html" title="Clipboard" class="toolbox-action" href="javascript:void(0);"><span
                            class="clipboard-icon"></span></a>
                    <a rel="tooltip-html" title="My Favorites" class="toolbox-action" href="javascript:void(0);"><span
                            class="my-favorites-icon"></span></a>
                </li>
            </ul>

            <!-- Divider between toolbox-header and user-icon section -->
            <div class="divider-header divider-vertical"></div>

            <!-- User Icon -->
            <div class="user-icon" rel="tooltip-html" original-title="Your Profile">
                <img id="login-user-avatar" data-src="${userLogoUrl}" alt="${userAltText}"/>
            </div>

            <!-- User Name -->
            <div class="user-name" rel="tooltip-html" original-title="Your Profile">
                {{if header}}${header.fullName}{{/if}}
            </div>

            <!-- Divider between user-icon section and logout button -->
            <div class="divider-header divider-vertical"></div>

            <!-- Log out button -->
            <a href="javascript:void(1);" class="button logout" style="margin: 2px; margin-right: 10px;">Logout</a>

        </div>
        <!-- End of User Info -->

    <!--[if IE]>
    </div>
    <![endif]-->
    </header>
</script>