<script id="headerTemplate" type="text/x-jquery-tmpl" xmlns="http://www.w3.org/1999/html">
    <header id="header">
    <!--[if IE]>
    <div id="header">
    <![endif]-->

        <!-- Platform Logo -->
        <div id="platform-logo-holder" align="center">
            <a href="#/dashboard">
                <img class="platform-logo" id="platform-logo" data-src="${platformLogoUrl}" alt="${platformAltText}"/>
            </a>
        </div>
        <!-- End of Platform Logo -->

        <!-- User Info -->
        <div id="user-info">
            <ul class="toolbox-header">
                <li>
                    <a rel="tooltip-html" title="Recent History" class="toolbox-action" href="javascript:void(0);"><span
                            class="recent-history-icon"></span></a>
                    <a rel="tooltip-html" title="Clipboard" class="toolbox-action" href="javascript:void(0);"><span
                            class="clipboard-icon"></span></a>
                    <a rel="tooltip-html" title="My Favorites" class="toolbox-action" href="javascript:void(0);"><span
                            class="my-favorites-icon"></span></a>
                </li>
            </ul>

            <!-- Divider between info-button and the toolbar-icons -->
            <div class="divider-header divider-vertical"></div>

            <!-- User Icon -->
            <div style="float:left; height:43px; line-height:43px">
                <a href="#/profile" rel="tooltip-html" original-title="Your Profile">
                    <img class="header-avatar-photo" id="login-user-avatar" data-src="${userLogoUrl}" alt="${userAltText}"/>
                </a>
                <span class="user-info-messages"><a href="#/profile">{{if header}}${header.fullName}{{/if}}</a></span>
            </div>

            <!-- Log out button -->
            <a href="javascript:void(1);" class="button logout" style="margin: 2px;">Logout</a>

        </div>
        <!-- End of User Info -->

    <!--[if IE]>
    </div>
    <![endif]-->
    </header>
</script>