<script id="logindetailsTemplate" type="text/x-jquery-tmpl">
    <div align="center">
        <img class="side-tenant-logo" id="tenant-logo" {{if logindetails && logindetails.avatarUrl}}data-src="${logindetails.avatarUrl}"{{else}}src="css/images/themes/clean/console/logos/logo-default.png"{{/if}} alt="{{if logindetails}}${logindetails.friendlyName}{{/if}}">

        <!--
        <img class="img-left framed avatar-photo" id="login-user-avatar" src="{{if logindetails && logindetails.avatarUrl}}${logindetails.avatarUrl}{{else}}css/images/themes/default/console/misc/avatar_small.png{{/if}}" alt="Hello {{if logindetails}}${logindetails.friendlyName}{{/if}}">

        <h3>Logged in as</h3>

        <h2><a class="user-button" href="javascript:void(0);">{{if logindetails}}${logindetails.fullName}{{/if}}&nbsp;<span
                class="arrow-link-down"></span></a></h2>

        <ul class="dropdown-username-menu">
            <li><a href="#/profile">Profile</a></li>
            <li><a href="#/" class="logout">Logout</a></li>
        </ul>
        -->
        <div class="clearfix"></div>
    </div>
</script>