<script id="tenantBarTemplate" type="text/x-jquery-tmpl">
    <div id="tenant-bar">
        <!--
        <a href="javascript:void(0);" class="tenant-list" title="Select Your Tenant"></a>
        -->
        <!-- Info-Button -->
        <!--
        <a href="javascript:void(0);" onclick="$('#info-dialog').dialog({ modal: true });">
        <span class="tenant-btn-info"></span></a>
        -->
        <span class="tenant-link"><a rel="tooltip-html" title="Platform Dashboard" href="#/">${tenantbar.friendlyName}</a></span>
        <!-- Modal Box Content -->
        <div id="info-dialog" title="About ${tenantbar.friendlyName}" style="display: none;">
            <p>${tenantbar.description}</p>
        </div>
        <!--! end of #info-dialog -->
    </div>
</script>