#sidebar, #nav, #header {
    display: block;
}

#nav ul, #nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.block-border {
    margin-top: 15px;
    background: url("../../../images/themes/default/console/misc/shine-effect.png") repeat-x scroll 0 0 #666666;
    border: 1px solid #25333c;
    border-radius: 0px;
    padding: 8px;
    box-shadow: none;
}

.ui-dialog {
    background: url("../../../images/themes/default/console/misc/shine-effect.png") repeat-x scroll 0 0 #666666;
    border: 1px solid #25333C;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 15px;
    padding: 8px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em 1em;
    height: 40px;
    background: url("../../../images/themes/default/console/container/block/block-header-bg.png") repeat-x scroll left top #CFDEE5;
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #4B5E6B;
    border-radius: 0px;
    padding: 0 10px;
    position: relative;
}

.ui-dialog .ui-dialog-buttonpane {
    background: url("../../../images/themes/default/console/container/block/block-actions-bg.png") scroll left bottom #ffffff;
    /*
    border-radius: 0 0 5px 5px;
    height: 44px;
    margin: 0 -19px -10px;
    */
    border: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

.ui-dialog .ui-dialog-title {
    color: #475D68;
    font-size: 16px;
    line-height: 37px;
    margin: 0;
    padding: 0 0 0 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}

ul.dropdown-username-menu {
    background: url("../../../images/themes/default/console/misc/shine-effect.png") repeat-x scroll 0 0 #666666;
}

.alpaca-controlfield, .alpaca-controlfield-container {
    display: block;
}

.alpaca-layout-two-column-mask {
    display: block;
    min-width: 600px;
    overflow: hidden;
    width: 100%;
}

