p.inline-label, p.inline-medium-label, p.inline-small-label {
	padding-right: 10px;
}


fieldset {
	border: 1px solid #b7c4d1;
	border-radius: 3px 3px 3px 3px;
	padding: 0px 10px 10px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

fieldset p.inline-label, fieldset p.inline-medium-label, fieldset p.inline-small-label {
	padding-right: 0;
}

fieldset legend {
	background: url("../../../images/themes/clean/console/forms/legend-bg.png") repeat-x scroll top left #dcdcdc;
	padding: 5px 10px;
	line-height: 16px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	border-radius: 5px 5px 5px 5px;
}

input[type="text"], input[type="password"], textarea {
	border: 1px solid #D1D1D1;
	border-color: #AAAAAA #CCCCCC #CCCCCC #AAAAAA;
	border-radius: 3px 3px 3px 3px;
	line-height: 1.5em;
	padding: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    /*font-size: 1em;*/
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
	border-color: #a3a3a3;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border-color: #666666;
}

a.button {
    text-decoration:none;
}

/*
.alpaca-controlfield-file .ui-widget-header {
    background:none;
}
*/

.alpaca-controlfield-label
{
    font-size: 12px !important;
}

.alpaca-controlfield-json textarea {
    font-style:italic;
    font-family:"Courier New";
}

.alpaca-controlfield-file {
    min-width:400px;
}

.alpaca-controlfield-helper {
    font-size: 1em;
    margin-top: 2px;
}

.fileupload-buttonbar {
    background: none repeat scroll 0 0 transparent;
}

.alpaca-controlfield-file button.ui-multiselect {
    float:right;
    margin-top: 0.3em;
}

/* principal picker */
.gitana-principal-selector .block-border {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin-top: 0;
    padding: 8px;
}

.gitana-principal-selector .dataTables_wrapper .block-actions {
    margin: 0;
    border-radius: 0 0 2px 2px;
}

.gitana-principal-selector .ui-widget {
    font-size: 1.0em;
}

.gitana-principal-selector .ui-dialog .ui-dialog-title, .ui-dialog .ui-dialog-content {
    font-size: 12px;
}

.gitana-principal-picker-button {
    margin-left: 5px;
}

/* node picker */
.gitana-selector .block-border {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin-top: 0;
    padding: 8px;
}

.gitana-selector .dataTables_wrapper .block-actions {
    margin: 0;
    border-radius: 0 0 2px 2px;
}

.gitana-selector .ui-widget {
    font-size: 1.0em;
}

.gitana-selector .ui-dialog .ui-dialog-title, .ui-dialog .ui-dialog-content {
    font-size: 12px;
}

.gitana-picker-button {
    margin-left: 5px;
}

/* picker */
.container_12.gitana-picker {
    margin-left: 0;
    margin-right: 0;
}

.gitana-picker .block-border {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin-top: 0;
    padding: 8px;
}

.gitana-picker .dataTables_wrapper .block-actions {
    margin: 0;
    border-radius: 0 0 2px 2px;
}

.gitana-picker .ui-widget {
    font-size: 1.0em;
}

.gitana-picker.ui-dialog .ui-dialog-title, .ui-dialog .ui-dialog-content {
    font-size: 12px;
}

.gitana-picker-button {
    margin-left: 5px;
}

.ui-dialog.ui-widget-content {
    background: url("../../../images/themes/clean/console/misc/shine-effect.png") repeat-x scroll 0 0 rgba(33, 40, 44, 0.7);
    border: 1px solid #25333C;
}

fieldset.alpaca-view-web-edit-list
{
    /*border: 1px #B5C9E8 solid !important;*/
}

fieldset.alpaca-view-web-edit-list legend
{
    background: none;
}

OL.alpaca-wizard-status-bar
{
    width: 100%;
    background: none repeat scroll 0 0 transparent !important;
    border-color: #B5C9E8;
    color: #666;
    /*padding: 10px;*/
    height:42px;
}

OL.alpaca-wizard-status-bar > LI
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

OL.alpaca-wizard-status-bar > LI > DIV
{

}

OL.alpaca-wizard-status-bar > LI > DIV > STRONG
{

}

OL.alpaca-wizard-status-bar > LI > DIV > STRONG > SPAN
{

}


.alpaca-controlfield-date input {
    background: url("../../../../lib/alpaca/images/alpaca-icons.png") no-repeat right -2px;
}

.alpaca-controlfield-phone input {
    background: url("../../../../lib/alpaca/images/alpaca-icons.png") no-repeat right -82px;
}

.alpaca-controlfield-email input
{
    background: url("../../../../lib/alpaca/images/alpaca-icons.png") no-repeat right -42px;
}

.alpaca-controlfield-time input {
    background: url("../../../../lib/alpaca/images/alpaca-icons.png") no-repeat right -122px;
}

.alpaca-controlfield-label
{
    white-space: nowrap;
}