<div class="alpaca-wizard alpaca-wizard-console">
    <div class="alpaca-wizard-step" id="alpaca-wizard-step-1" style="clear:both;">
        <div class="alpaca-wizard-step-title">Properties</div>
    </div>
    <div class="alpaca-wizard-step" id="alpaca-wizard-step-2" style="clear:both;">
        <div class="alpaca-wizard-step-title">Event</div>
    </div>
    <div class="alpaca-wizard-step" id="alpaca-wizard-step-3" style="clear:both;">
        <div class="alpaca-wizard-step-title">Conditions</div>
    </div>
    <div class="alpaca-wizard-step" id="alpaca-wizard-step-4" style="clear:both;">
        <div class="alpaca-wizard-step-title">Actions</div>
    </div>
</div>