<script id="menuTemplate" type="text/x-jquery-tmpl">

    {{if menu && menu.items}}
    <ul class="menu collapsible shadow-bottom">
        {{each(i, item) menu.items}}
        <li {{if !item.visibility}}style="display:none;"{{/if}}>
            <a href="{{if item.link}}${item.link}{{else}}javascript:void(0);{{/if}}" {{if item.current}}class="current"{{/if}} style="padding-left: 20px;">
                {{if item.icon}}<span class="sprite-16 ${item.icon.substring(item.icon.lastIndexOf('/')+1,item.icon.lastIndexOf('.'))}"></span><!--<img src="${item.icon}">-->{{/if}}<span>${item.title}</span>
                {{if item.badge}}<span class="badge {{if item.badge['class']}}${item.badge['class']}{{/if}}">${item.badge.content}</span>{{/if}}
            </a>
            {{if item.items}}
            <ul class="sub">
                {{each(x, subItem) item.items}}
                <li {{if !subItem.visibility}}style="display:none;"{{/if}}>
                    <a href="{{if subItem.link}}${subItem.link}{{else}}javascript:void(0);{{/if}}"  style="padding-left: 20px;">
                        {{if subItem.icon}}<img src="${subItem.icon}">{{/if}}${subItem.title}
                        {{if subItem.badge}}<span class="badge {{if subItem.badge['class']}}${subItem.badge['class']}{{/if}}">${subItem.badge.content}</span>{{/if}}
                    </a>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    {{/if}}

</script>