<script id="dashboardNotificationTemplate" type="text/x-jquery-tmpl">

    <table style="font-size: 14px" cellpadding="10">
        <tr>
            <td>
                <table cellpadding="10">
                    <tr>
                        <td style="vertical-align:top">
                            <img src="templates/notifications/dashboard-welcome-notification/learning2.png">
                        </td>
                        <td>
                            <strong>Learn</strong>
                            <br/>
                            <br/>
                            Get started with Cloud CMS by watching a tutorial video.
                            <br/>
                            <br/>
                            <a href="http://www.cloudcms.com/tour/resources/videos" target="_blank">Watch a Video</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table cellpadding="10">
                    <tr>
                        <td style="vertical-align:top">
                            <img src="templates/notifications/dashboard-welcome-notification/personalizing2.png">
                        </td>
                        <td>
                            <strong>Personalize</strong>
                            <br/>
                            <br/>
                            Configure your personal profile so that others can get to know you.
                            <br/>
                            <br/>
                            <a href="#/profile/edit">Configure your profile</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table cellpadding="10">
                    <tr>
                        <td style="vertical-align:top">
                            <img src="templates/notifications/dashboard-welcome-notification/sharing2.png">
                        </td>
                        <td>
                            <strong>Get Started!</strong>
                            <br/>
                            <br/>
                            Create a content repository and collaborate with other team members.
                            <br/>
                            <br/>
                            <a href="#/add/repository">Create a Repository</a>
                        </td>
                    </tr>
                </table>
            </td>
            <!--
            <td>
                <table cellpadding="10">
                    <tr>
                        <td style="vertical-align:top">
                            <img src="templates/notifications/dashboard-welcome-notification/extending.png">
                        </td>
                        <td>
                            <strong>Extend</strong>
                            <br/>
                            <br/>
                            Extend your Cloud CMS platform by installing new add-ons, themes and extensions.
                            <br/>
                            <br/>
                            <a href="#/addons">Install an add-on</a>
                        </td>
                    </tr>
                </table>
            </td>
            -->
        </tr>
    </table>

</script>