<script id="auditRecordTemplate" type="text/x-jquery-tmpl">

    {{if data}}
    <ul class="item-list" style="margin:0px;">
        <li><span>ID</span>${data._doc}</li>
        <li><span>Type</span>${data.type}</li>
        <li><span>State</span>${data.state}</li>
        <li><span>Run As Principal</span>${data.runAsPrincipalId}</li>
        <li><span>Run As Principal Domain</span>${data.runAsPrincipalDomainId}</li>
        <li><span>Attempts</span>${data.attempts}</li>
        <li><span>Submitted</span>${data.is_submitted}</li>
        <li><span>Submitted By</span>${data.submitted_by}</li>
        {{if data.started_timestamp}}
            <li><span>Started</span>${data.started_timestamp.timestamp}</li>
        {{/if}}
        {{if data.stopped_timestamp}}
            <li><span>Stopped</span>${data.stopped_timestamp.timestamp}</li>
        {{/if}}
        <li><span>Full JSON</span>
            <pre class="record-full-json">${data.fullJson}</pre>
        </li>
    </ul>
    {{/if}}

</script>