<script id="layoutTemplate" type="text/x-jquery-tmpl">

    <div class="container_12">

        {{if page}}
        <div class="grid_12">
            {{if page.title}}
            <h1>${page.title}</h1>
            {{/if}}
            {{if page.description}}
            <p>${page.description}</p>
            {{/if}}
        </div>
        {{/if}}

        {{if page.dashlets}}
            {{each(i, dashlet) page.dashlets}}
            <div class="{{if dashlet.grid}}${dashlet.grid}{{else}}grid_4{{/if}}" {{if dashlet.id}}id="${dashlet.id}"{{/if}} {{if dashlet.gadget}}gadget="${dashlet.gadget}"{{/if}} {{if dashlet.subscription}}subscription="${dashlet.subscription}"{{/if}}>
            </div>
            {{/each}}
        {{/if}}

        <div class="grid_12">
            <div class="block-border">
                {{if page && page.listTitle}}
                <div class="block-header">
                    <h1>{{if page.listIcon}}<img src='${page.listIcon}'/>{{/if}}<span class="block-header-title">${page.listTitle}</span></h1>
                    <!--
                    <span></span>
                    -->
                    {{if page.searchBox}}
                        <input type="text" class="list-search" name="term" value="" autocomplete="off" placeholder="Search" style="border-radius: 20px 20px 20px 20px;padding: 4px 10px 4px 25px;"/>
                    {{/if}}
                </div>
                {{/if}}
                <div class="list-toolbar-content" gadget="toolbar">
                </div>
                {{if page && page.filter}}
                <div class="list-filter" gadget="filter">
                </div>
                {{/if}}
                <div class='block-content log-text-view' style='display:none;'></div>
                {{if page.subscription}}<div class="list-toolbar" gadget="toolbar" subscription="${page.subscription}-toolbar"></div>{{/if}}
                <div class="block-content list-datatable">
                    <div class="list" gadget="list" {{if page.subscription}}subscription="${page.subscription}"{{/if}} {{if page.filter}}filter="${page.filter}"{{/if}}>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear height-fix"></div>

    </div>

</script>