<script id="auditRecordTemplate" type="text/x-jquery-tmpl">

    {{if data}}
    <ul class="item-list" style="margin:0px;">
        <li><span>Id</span>${data._doc}</li>
        <li><span>Principal</span>${data.principal}</li>
        <li><span>Action</span>${data.action}</li>
        <li><span>Scope</span>${data.scope}</li>
        <li><span>Method</span>${data.method}</li>
        <li><span>Handler</span>${data.handler}</li>
        {{if data._system}}
        <li><span>Modified On</span>${data._system.modified_on.timestamp}</li>
        {{/if}}
        <li><span>Full JSON</span>
            <pre class="record-full-json">${data.fullJson}</pre>
        </li>
    </ul>
    {{/if}}

</script>