<script id="layoutTemplate" type="text/x-jquery-tmpl">

    <div class="container_12">

        {{if page}}
        <div class="grid_12">
            {{if page.title}}
            <h1>${page.title}</h1>
            {{/if}}
            {{if page.description}}
            <p>${page.description}</p>
            {{/if}}
        </div>
        {{/if}}

        <!--
        <div class="grid_12">
            <div class="block-border">
                <div class="block-content"  gadget="toolbar">
                </div>
            </div>
        </div>
        -->
        {{if page.forms}}
            {{each(i, form) page.forms}}
            <div class="grid_12">
				<div class="block-border">
					{{if form.title}}
                    <div class="block-header">
						<h1>{{if form.icon}}<img src='${form.icon}'/>  {{/if}}${form.title}</h1><!-- <span></span> -->
					</div>
                    {{/if}}
					<div class="block-content">
						<div {{if form.id}}id="${form.id}"{{/if}}></div>
                        {{if form.buttons}}
						<div class="block-actions">
							<ul class="actions-left">
								{{each(j,button) form.buttons}}
                                    {{if button.isLeft}}
                                    <li><a class="close-toolbox button" href="javascript:void(0);" {{if button.id}}id="${button.id}"{{/if}}>{{if button.title}}${button.title}{{/if}}</a></li>
                                    {{/if}}
                                {{/each}}
							</ul>
							<ul class="actions-right">
                                {{each(j,button) form.buttons}}
                                    {{if ! button.isLeft}}
                                    <li><a class="close-toolbox button red" href="javascript:void(0);" {{if button.id}}id="${button.id}"{{/if}}>{{if button.title}}${button.title}{{/if}}</a></li>
                                    {{/if}}
                                {{/each}}
							</ul>
						</div>
                        {{/if}}
					</div>
				</div>
            </div>
            {{/each}}
        {{/if}}

        <div class="clear height-fix"></div>

    </div>

</script>